html {
    height: 100%;
}

body {
    height: 100%;
    background-color:#7efcf8;
    color: #db1a54;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rammetto One', ;regular';
}

a {
    text-decoration: none;
}

.main {
    height: 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzyGuzpAmy_PoU8AsM0pDPCLh4Bs-lDximzox1N4vc4vsD7zQ7Lw");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.social-image{
    width: 30px;
    margin: 15px;
}

.header {
    display: flex;
    justify-content:center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    box-sizing: border-box;
    padding: 10px;
    width: auto;
    
}

.nav-links {
    
    ext-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.footer{
    display: flex;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    box-sizing: border-box;
    padding: 10px;
    width: auto;
    justify-content: space-between;
    align-items: center;
}

.social{
    justify-content: space-between;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.thumbnail-image{
    width: 600px;
    max-width: 100%;
    height: auto;
    justify-content: center;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    border-radius: 100px;
    margin: 50px;
    
}

.thumbnail:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


.aboutMain{
    display:flex;
    width: 100%;
    height: 100%;
}

.leftPane{
    justify-content: flex-start;
    width: 50%;
    height: 50%;
}
.rightPane {
    background-image: url("http://mtv.mtvnimages.com/arc/images/shows/are-you-the-one/videos/AYTOReunion6A.mp4.00_29_22_22.Still005_edited.jpg?quality=0.85&width=664&height=374&crop=true");
    background-size:cover;
    background-repeat: cover;
    height: 400px;
    width:50%;
    justify-content:flex-end;
    height: 50%;
}
